
/* Responsive Styles */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header img {
    height: 100px;
    margin-bottom: 1rem;
  }

  header nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  main {
    padding: 1rem;
  }

  .services-section,
  #tools,
  #projects,
  #contact,
  #hardware {
    padding: 1.5rem;
  }

  .services-section {
    flex-direction: column;
  }

  .services-content,
  .services-image {
    flex: 1 1 100%;
    padding: 0;
    text-align: center;
  }

  .services-image img {
    width: 90%;
    margin-top: 1rem;
  }

  .section-container {
    flex-direction: column;
    padding: 1rem;
  }

  .section-content {
    flex-direction: column;
    gap: 20px;
  }

  .text-content,
  .image-content {
    flex: 1 1 100%;
    max-width: 100%;
    text-align: center;
  }

  .image-content img {
    width: 90%;
    margin: 0 auto;
  }
}
